~~
~~ Copyright.
~~

 ------
 Introduction
 ------
 Karl Heinz Marbaise
 ------
 12. January 2013
 ------

Iterator Maven Plugin

  The basic idea of this plugin is to make iterations over a list of values possible. This 
  means having a list of values like: <<<one, two, three>>> and execute other plugins or
  Maven instances and give the current value as a parameter to the plugin or to the appropriate
  Maven call.

* Goals Overview

  There are currently two goals <{{{./executor-mojo.html}executor}}> and <{{{./invoker-mojo.html}invoker}}>.
  The <{{{./executor-mojo.html}executor}}> goal is intended to call one or serval plugins during the iterations
  over the given list of items. 
  
  The <{{{./invoker-mojo.html}invoker}}> goal is intended to call a separate maven instance, like
  calling maven on command line, with the different possibilities of giving the iterated item. 
  
* Usage

  The iterator-maven-plugin can be bound to any {{{http://maven.apache.org/ref/current/maven-core/lifecycles.html}lifecycle phase}}
  as you like.

+-----
<project>
  ...
  <build>
    <plugins>
      <plugin>
        <groupId>${project.groupId}</groupId>
        <artifactId>${project.artifactId}</artifactId>
        <version>${project.version}</version>
        <executions>
          <execution>
            <phase>package</phase>
            <goals>
              <goal>executor</goal>
            </goals>
            <configuration>
            	<pluginExecutors>
            	  <pluginExecutor>
            	    ..
            	  </pluginExecutor>
            	  <pluginExecutor>
            	    ..
            	  </pluginExecutor>
            	</pluginExecutors>
            </configuration>
          </execution>
        </executions>
      </plugin>
    </plugins>
  </build>
  ...
</project>
+-----


  []
