~~
~~ Copyright.
~~

 ------
 Introduction
 ------
 Karl Heinz Marbaise
 ------
 12. January 2013
 ------

Iterator Executor Invoker Maven Plugin


  The basic idea behind this plugin is to make iterations over a list of values possible. This 
  means having a list of values like this: <<<one, two, three>>> and execute an other plugin and give the
  current value as a parameter to the plugin.

* Goals Overview

  There is currently only a single goal  <{{{./executor-mojo.html}executor}}> which will 
  call a plugin during the usual run of Maven.
  
  The second goal which is planned will call a new instance of Maven (invoke; like the maven-invoker-plugin).

* Usage

  The itexin-maven-plugin can be bound to any lifecycle phase as usual.
  

+-----
<project>
  ...
  <build>
    <plugins>
      <plugin>
        <groupId>${project.groupId}</groupId>
        <artifactId>${project.artifactId}</artifactId>
        <version>${project.version}</version>
        <executions>
          <execution>
            <phase>package</phase>
            <goals>
              <goal>executor</goal>
            </goals>
            <configuration>
              ....
            </configuration>
          </execution>
        </executions>
      </plugin>
    </plugins>
  </build>
  ...
</project>
+-----


  []
