~~
~~ Copyright.
~~

 ------
 Introduction
 ------
 Karl Heinz Marbaise
 ------
 19. March 2013
 ------

Iterator Maven Plugin


* Overview

  The <{{{./iterator-mojo.html}iterator}}> goal is intended to call one or more maven plugins
  during the iteration of the values.

  Let us take a look at a real example which makes explanations simpler. We have the following 
  layout of the project:


+----------
.
├── dev.xml
├── pom.xml
├── prod.xml
├── test.xml
└── src
    ├── main
    │   ├── java
    │   ├──   ...
    │   └── resources
    │       └── log4j.properties
    └── test
        └── java
               ...
+----------

  Where the <<<pom.xml>>> file contains the following:

%{include|source=target/it/mavenAssemblyPluginTest/pom.xml|snippet=#start}

  The above call will produce an output like the following:

%{include|source=target/it/mavenAssemblyPluginTest/build-filtered.log|highlight-type=text}

  As you can see the maven-assembly-plugin is being called three times with the
  parameter <<<test>>>, <<<prod>>> and <<<dev>>> which adresses the appropriate
  descriptor in the folder.

  []
