~~ 
~~ Licensed to the Apache Software Foundation (ASF) under one
~~ or more contributor license agreements.  See the NOTICE file
~~ distributed with this work for additional information
~~ regarding copyright ownership.  The ASF licenses this file
~~ to you under the Apache License, Version 2.0 (the
~~ "License"); you may not use this file except in compliance
~~ with the License.  You may obtain a copy of the License at
~~
~~   http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing,
~~ software distributed under the License is distributed on an
~~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
~~ KIND, either express or implied.  See the License for the
~~ specific language governing permissions and limitations
~~ under the License.

~~ NOTE: For help with the syntax of this file, see:
~~ http://maven.apache.org/doxia/references/apt-format.html

 ------
 Introduction
 ------
 Karl Heinz Marbaise
 ------
 29. March 2013
 ------

Iterator Maven Plugin


* Using Property

  The iterator-maven-plugin will inject the current value as a property which means you can
  use this property to parameterize your build. First let us take a view on an example
  project:
  
+-----
.
├── pom.xml
└── src
    ├── main
    │   ├── assembly
    │   │   └── archive.xml
    │   ├── environment
    │   │   ├── dev
    │   │   │   └── server.properties
    │   │   ├── production
    │   │   │   └── server.properties
    │   │   ├── qa
    │   │   │   └── server.properties
    │   │   └── test
    │   │       └── server.properties
    │   ├── java
    │   │   └── ...
    └── test
        └── java
            └── ...
+-----

  The next step is to look at the <<<pom.xml>>> file which will define the iteration
  over the values <dev>, <production>, <qa>, <test> which is defined by:

%{include|source=target/it/mavenAssemblyPluginWithPropertiesTest/pom.xml|snippet=#start}

  During the execution the values for item will be injected as property in the maven model
  which means they can be accessed by the usual property usage like <<<$\{item}>>>. This
  is done in the assembly descriptor to fulfill the needs in this case.

%{include|source=src/it/mavenAssemblyPluginWithPropertiesTest/src/assembly/archive.xml|snippet=#start}

  []
