 ------
 Usage
 ------
 Karl Heinz Marbaise
 ------
 12. January 2013
 ------



Usage

   Lets assume you would like to call the {{{http://...}maven-echo-plugin}} 
   serveral times. Apart form being really useful just as an example. 
   This can be achieved by the following:
   
%{include|source=target/it/outputWithoutDebugTest/pom.xml|snippet=#start}

   This will produce the following output during a <<<mvn clean package>>> call
   which will show you the messages produced by the maven-echo-plugin and
   their appropriate values.

%{include|source=target/it/outputWithoutDebugTest/build-filtered.log|highlight-type=text}

  []

